.section3{
    padding: 2rem;
    grid-column: 1/2;
    grid-row: 3/4;
    height: 25rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 1fr;
    row-gap: 1rem;
}

.textArea{
    grid-row: 2/3;
    border-radius: 1rem;
    padding: 1rem;
    height: 12rem;
    color: rgb(129, 128, 128);
}

.div-btn{
    grid-row: 3/4;
    display: flex;
    justify-content: end;
    padding: 1rem;
    height: 10rem;
}

.btn-s3{
    width: 10rem;
    height: 3rem;
    background-color: black;
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}